node_modules/
.env
*.log
debug-sso.js
check-user.js
check-account.js
find-user.js
list-platform.js
search-email.js
search-user.js
test-create.js
test-ids.js
test-list.js
test-login-new.js
test-post.js
test-single.js
test-token-type.js
aggressive-discovery.js
